*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#F53838;
    --second-color: #F53855;
    --text-color:#4F5665;
    --heading-color: #0B132A;
    --gray-color: #DDE0E4;
    --green: #2FAB73;
    --silver: #F8F8F8;
    --silver-l: #F6F6F6;
    --white-color :#fff;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: var(--text-color);
    font-weight: 400;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.wrapper{
    max-width: 1440px;  
    margin: 0 auto;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.btn{
    display: inline-block;
    padding: 13px 45px;
    border-radius: 100rem;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn--primary{
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn--outline{
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 500;
    border: 1px solid;
}
.btn--rounded{
    border-radius: 10px;
    padding: 17px 65px;
    position: relative; 
    box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.35);
}

/* header */
.header{
    padding-top: 50px;
    padding-bottom: 90px;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__links{
    display: flex;
    align-items: center;
    gap: 0 40px;
}

.header__link {
    color: inherit;
}

.header__auth{
    display: flex;
    align-items: center;
    gap: 0 30px;
    text-transform: capitalize;
}

.header__signin{
    color:var(--heading-color);
    font-weight: 500;
}

.header__signup{
    font-size: 16px;
    font-weight: 500;
    color: var(--second-color);
    padding: 13px 45px;
    border: 1px solid;
    border-radius: 50px;
}

/* hero */
.hero__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 40px;
    position: relative;
}

.hero__content{
    width: 100%;
    max-width: 555px;
}

.hero__img{
    /* position: absolute; */
}

.content__heading{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: calc(70 / 50);
    color: var(--heading-color);
}

.content__desc{
    font-size: inherit;
    color: var(--text-color);
    line-height: calc(30 / 16);
    margin-bottom: 50px;    
}

.content__desc span{
    font-weight: 500;   
}

.hero__img{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(40px,-50%);
}

/* intro */
.intro{
    padding-top: 102.5px;
    padding-bottom: 95px;
}

.intro__container{
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    padding: 37px 0;
    border-radius: 10px;
    box-shadow: 0 42px 114px 0 rgba(13, 16, 37,0.06);
    min-height: 200px;
}

.intro__item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 36.5px;
}

.intro__item:nth-child(2){
    border-left: 2px solid #EEEFF2;
    border-right: 2px solid #EEEFF2;
}

.item__icon{
    width: 55px;
    height: 55px;
    border-radius: 100rem;
    color: var(--primary-color);
    background-color: #FFECEC;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
